@import "../../settings/colors";
@import "../../settings/fonts";

.home-three-columns {
  background-image: url("../../../assets/3 Columns Background/3 Columns Background.png");
  height: 24rem;
  margin-bottom: 3.5rem;
  .home-three-columns-info {
    display: flex;
    justify-content: space-around;
    padding: 2.9rem 10.2rem 5.4rem;
    .home-three-columns-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 21rem;
      .home-three-columns-number {
        font-size: 5.6rem;
        font-weight: 300;
        line-height: 7.6rem;
        color: $bronze-olive;
      }
      .home-three-columns-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.9rem;
        letter-spacing: -0.36px;
        color: $dark;
        margin: 0.6rem 0 1.75rem;
      }
      .home-three-columns-text {
        text-align: center;
        line-height: 1.5rem;
        font-weight: 300;
        letter-spacing: -0.32px;
        color: $dark;
      }
    }
  }
}