@import "../../settings/_colors";
@import "../../settings/_buttons";

.home-header {
  height: 60.25rem;
  display: flex;
  .home-header-picture {
    background-image: url("../../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right center;
    width: 46.5%;
  }
  .home-header-info {
    width: 53.5%;
    display: flex;
    flex-direction: column;
    .home-header-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 23% 14% 28.6% 7%;
      p {
        font-size: 2.4rem;
        line-height: 3.4rem;
        letter-spacing: -0.76px;
        color: $dark;
        text-align: center;
        padding-bottom: 3.4%;
      }
      .home-header-buttons {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        width: 100%;
        .home-header-btn {
          @include home-btn;
          &:first-of-type {
            margin-right: 4.6%;
          }
        }
      }
    }
  }
}