@import "../settings/_colors";
@import "../settings/_buttons";

.home-header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2.3rem;
    margin-right: 8.7rem;
    .home-header-menu-log {
      padding-bottom: 1.8rem;
      padding-right: 0.6rem;
      .home-header-menu-log-list {
        list-style: none;
        display: flex;
        a {
          text-decoration: none;
          color: $cool-grey;
          font-size: 0.9rem;
          padding: 0.6rem;
          &:hover {
            border: 0.75px solid $light-yellow;
          }
        }
      }
    }
    .home-header-menu-nav {
      .home-header-menu-nav-list {
        list-style: none;
        display: flex;
        a {
          text-decoration: none;
          color: $dark;
          font-size: 1.1rem;
          padding: 0.6rem 1.25rem;
          &:hover {
            border: $home-border-dark;
          }
        }
      }
    }
  }